@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* =============== */
/* general styles */
html {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    background: black;
    overflow-x: hidden;
    overflow-y: hidden;
}
.app {
    @apply w-full h-screen overflow-hidden;
}
/* =============== */
/* for home page */
.home {
    @apply w-fit xl:h-full flex xl:justify-between justify-start items-start flex-col xl:py-8 xl:px-36 sm:p-8 p-6 max-xl:gap-7 absolute z-10;
}
.home-content {
    @apply flex-1 xl:justify-center justify-start flex flex-col gap-10;
}
.head-text {
    @apply xl:text-[10rem] text-[4rem] xl:leading-[11rem] lg:leading-[8rem] leading-[4rem] font-black; 
}
/* =============== */
/* for toggleing theme */
.light-theme {
    @apply text-black;
}
.dark-theme {
    @apply text-white;
}
/* =============== */
/* for tabs styling  */
.information-tabs-container {
    @apply  w-16 rounded-lg flex flex-col justify-center items-center ml-1 py-4 gap-4;
}
.planets-tabs-container {
    @apply  absolute z-10 bottom-5 right-0 left-0 w-full flex justify-center items-center flex-wrap gap-4;
}
/* =============== */
/* for ai tabs */
.ai-container {
    @apply absolute left-full ml-3 glassmorphism p-3 w-[250px] h-[400px] rounded-md flex flex-col gap-4;
}
.ai-textarea {
    @apply text-gray-300 w-full bg-transparent text-sm border border-gray-300 p-2 outline-none;
    height: 20%;
}
.ai-response {
    @apply text-gray-300 w-full bg-transparent text-sm border border-gray-300 p-2 outline-none;
    height: 80%;
    overflow-y: auto;
    overflow-x:hidden;
    white-space: pre-wrap; /* Preserve line breaks in the text */
}
/* =============== */
/* for overview tabs */
.overview-container{
    @apply text-gray-300 absolute left-full ml-3 glassmorphism p-0 w-auto h-auto rounded-md ;
}
.overview-table {
    @apply min-w-[300px] table-auto text-center;
}
.overview-table td {
    @apply border-2 border-gray-400 p-2;
}
.overview-table td:nth-child(1){
    @apply font-semibold;
}
/* =============== */




.glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#sky {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#shootingstars {
    margin: 0;
    padding: 0;
    width: 150vh;
    height: 100vw;
    position: fixed;
    overflow: hidden;
    transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%))
    rotate(120deg);
}

.wish {
    height: 2px;
    top: 300px;
    width: 100px;
    margin: 0;
    opacity: 0;
    padding: 0;
    background-color: white;
    position: absolute;
    background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
    filter: drop-shadow(0 0 6px white);
    overflow: hidden;
}
